<div id="home" class="home">
  <div class="container">

    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h2>Home</h2>
      </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
        <div class="icon-box" data-aos="fade-up">
          <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
          <h4 class="title"><a href="/items">Show Items</a></h4>
          <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
        </div>
      </div>
      <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
        <div class="icon-box" data-aos="fade-up">
          <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
          <h4 class="title"><a href="/orders">Show all Orders</a></h4>
          <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
        </div>
      </div>
      <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
        <div class="icon-box" data-aos="fade-up">
          <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
          <h4 class="title"><a href="/settings">Settings</a></h4>
          <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
        </div>

    </div>
  <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
    <div class="icon-box" data-aos="fade-up">
      <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
      <h4 class="title"><a href="/add_coupon">Add Coupons</a></h4>
      <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
    </div>
  </div>
  <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
    <div class="icon-box" data-aos="fade-up">
      <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
      <h4 class="title"><a href="/add_table">Add Tables</a></h4>
      <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
    </div>
  </div>
  <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
    <div class="icon-box" data-aos="fade-up">
      <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
      <h4 class="title"><a href="/add_person">Add Persons</a></h4>
      <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
    </div>
  </div>
  <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
    <div class="icon-box" data-aos="fade-up">
      <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
      <h4 class="title"><a href="/add_ingredient">Add Ingredients</a></h4>
      <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
    </div>
  </div>
  <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
    <div class="icon-box" data-aos="fade-up">
      <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
      <h4 class="title"><a href="/add_item">Add Items</a></h4>
      <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
    </div>
  </div>
  <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
    <div class="icon-box" data-aos="fade-up">
      <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
      <h4 class="title"><a href="/coupons">Show Coupons</a></h4>
      <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
    </div>
  </div>
  <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
    <div class="icon-box" data-aos="fade-up">
      <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
      <h4 class="title"><a href="/ingredients">Show Ingredients</a></h4>
      <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
    </div>
  </div>
  <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
    <div class="icon-box" data-aos="fade-up">
      <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
      <h4 class="title"><a href="/offline_orders">Show Offline Orders</a></h4>
      <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
    </div>
  </div>
  <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
    <div class="icon-box" data-aos="fade-up">
      <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
      <h4 class="title"><a href="/persons">Show Persons</a></h4>
      <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
    </div>
  </div>
  <div class="col-md-6 col-lg-3 align-items-stretch mb-5 mb-lg-5 colc" >
    <div class="icon-box" data-aos="fade-up">
      <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
      <h4 class="title"><a href="/tables">Show Tables</a></h4>
      <!-- <p class="description">Lists all the matches played till now. Shows all the details of every match played</p> -->
    </div>
  </div>
</div>
</div>
</div>
