<div id="newvenue" class="newvenue">
  <div class="container">

    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h2>Login</h2>
      <!-- {/* <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> */} -->
    </div>
<div [hidden]="submitted">
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm align-items-stretch mb-5 mb-lg-3">
            <div class="icon-box rowc" data-aos="fade-up">
              <form (ngSubmit)="checkPerson()" role="form" class="php-email-form">
                <!-- <br> -->
              <div class="row">

                <div class="form-group mt-3 col-sm">
                  <label style="color: black" for="email">Email</label>
                  <input type="text" class="form-control" id="email" placeholder="Email" required
                  [(ngModel)]="email" name="email">
                </div>

              </div>
              <!-- <br> -->

              <div class="row">
                <div class="form-group mt-3">
                  <label style="color: black" for="email">Password</label>
                  <input type="text" class="form-control" id="password" placeholder="Password" required
                  [(ngModel)]="password" name="password">
                </div>
              </div>
              <a routerLink="/forgot" role="button" style="font-size: small" routerLinkActive="active">&nbsp;&nbsp;Forgot Password?</a>
              <br>
              <!-- <br> -->
              <br>
              <div class="text-center"><button class="about-btn" type="submit">Login</button></div>
              <br>
              <div class="text-center"><p style="color: red; font-size: medium;">{{msg}}</p></div>

    </form>
  </div>
  </div>
  <div class="col-sm"></div>
  </div>
  </div>

  <div [hidden]="!submitted">
    <div class="text-center"><p style="color: green; font-size: medium;">Success</p></div>
</div>
</div>
</div>



