<h1>SHOW</h1>
<br/>
<a routerLink="/items" class="btn btn-primary active" role="button" routerLinkActive="active">Show Items</a>
<br/>
<a routerLink="/" class="btn btn-primary active" role="button" routerLinkActive="active">Show Food</a>
<br/>
<a routerLink="/" class="btn btn-primary active" role="button" routerLinkActive="active">Show Bevarages</a>
<br/>
<a routerLink="/" class="btn btn-primary active" role="button" routerLinkActive="active">Show Orders</a>
<br/>
<h1>ADD</h1>
<br/>
<a routerLink="/add_coupon" class="btn btn-primary active" role="button" routerLinkActive="active">Add Coupons</a>
<br/>
<a routerLink="/add_table" class="btn btn-primary active" role="button" routerLinkActive="active">Add Tables</a>
<br/>
<a routerLink="/add_person" class="btn btn-primary active" role="button" routerLinkActive="active">Add Persons</a>
<br/>
<a routerLink="/add_ingredient" class="btn btn-primary active" role="button" routerLinkActive="active">Add Ingredients</a>
<br/>
<a routerLink="/add_item"  class="btn btn-primary active" role="button" routerLinkActive="active">Add Items</a>
