<!-- //<p>show-tables works!</p> -->
<div class="text-center">
  <div class="text-center">BOOKED TABLES</div>
  <table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Table_id</th>
            <th>Booked_Date</th>
            <th>Slot</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let table of mytables">
            <td>{{table.table_id}}</td>
            <td>{{table.booking_date | date}}</td>
            <td>{{table.slot}}</td>
            
                            <!-- <button class="btn btn-primary" (click)="deleteItem(item.item_id)">Delete</button> -->
          </tr>
    </tbody>
</table>  
    <h3 style="color:black">Free Tables List:</h3>
    </div>
    
    <div class="container">
        <div [hidden]="!showBox">
            <form (ngSubmit)="BookTable()">    
                
              <div>Booking table : {{booktable.table_id}} on {{booktable.booking_date}}          ===========    {{timestamp}}       === {{booktable.person_id}}</div> 

              <div class="form-group">
                <label for="start_date">ON:</label>
                <input type="date" class="form-control" id="start_date" required
                [(ngModel)]="booktable.booking_date" name="start_date">
              </div>
                <div>{{booktable.booking_date}}</div>   
              <div class="form-group">
                <label for="slot">Number::</label>
                <input type="number" class="form-control" id="slot" required
                [(ngModel)]="booktable.slot" name="slot">
              </div>     
              <div>{{booktable.slot}}</div> 

              <div class="btn-group">
            <!-- <button class="btn btn-primary" (click)="goBack()">Back</button> -->
              <button type="submit" class="btn btn-success">Submit</button>
            <!-- <button class="btn btn-danger" (click)="delete()">Delete</button> -->
            </div>
      
            </form>
          </div>        
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Capacity</th>
                <th>Price</th>
                <th>Table Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let table of tables">
                <td>{{table.table_id}}</td>
                <td>{{table.capacity}}</td>
                <td>{{table.price}}</td>
                <td>{{table.table_type}}</td>
                <button class="btn btn-primary" (click)="showBookTable(table.table_id)">Book</button>
                                <!-- <button class="btn btn-primary" (click)="deleteItem(item.item_id)">Delete</button> -->
              </tr>
        </tbody>
    </table>
    </div>